@import '~antd/dist/antd.css';
body{
  background: rgb(240, 247, 223);
}
.ant-form{
  width: 50%;
  margin: 0 auto;
}
.content{
  display: flex;
}
.left,.right{
  width: 50%;
  position: relative;
}
.right{
  margin-left: 20px;
}

.btn{
  position: absolute;
  top: -40px;
}